<section id="sobre">
  <div class="about-section">
    <h2>Sobre Mim</h2>
    <p>Sou um estudante de Ciência da Computação e desenvolvedor em formação, com uma paixão por programação e desenvolvimento de sistemas. Desde cedo, estive envolvido em projetos acadêmicos e como freelancer, onde pude aplicar e aprimorar minhas habilidades em diversas tecnologias.</p>
    <p>Estou sempre em busca de novos desafios e oportunidades para aprender, especialmente em áreas como desenvolvimento backend, criação de APIs e otimização de sistemas. No meu tempo livre, gosto de explorar novas linguagens de programação, ouvir música e me aprofundar em novas tecnologias.</p>
    <div class="skills-cards">
        <div class="card">
            <h3>Desenvolvimento Backend</h3>
            <p>Desenvolvimento com Java, Spring Framework, e criação de serviços robustos e escaláveis.</p>
        </div>
        <div class="card">
            <h3>Desenvolvimento Web</h3>
            <p>Habilidades em HTML, CSS, JavaScript, e Angular para desenvolvimento front-end.</p>
        </div>
        <div class="card">
            <h3>Criação de APIs</h3>
            <p>Desenvolvimento de APIs RESTful utilizando Java, Node.js e Express.</p>
        </div>
    </div>
  </div>
  </section>
