<section id="thumb">
<div class="thumb-container" (mousemove)="onMouseMove($event)">
  <div class="overlay">
      <div class="home-content">
          <div class="text-2">Lucas Gustavo</div>
          <div class="text-3">Eu sou <span class="typing">Desenvolvedor Web</span></div>
          <a href="https://www.linkedin.com/in/lucasgrfzan/" target="_blank" class="hire-button">Contratar-me</a>
      </div>
      <img src="assets/eu.jpg" alt="Profile Picture" class="profile-pic">
  </div>
  <div class="background-circles"></div>
</div>
</section>
